body {
    font-family: sans-serif
}

#field {
    font-size: 80px; 
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

button {
    font-size: 70px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline:none;
    inline-size: 50px;
    block-size: 50px;
}
