rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{document=**} {
      allow read: if get(request.path) == null
      allow read, write: if request.auth.uid in get(request.path).data.players || get(request.path).data.players.size() < 2
      allow create
    }
  }
}