body {
    font-family: sans-serif;
    background-color: #000;
}

button {
    color: white;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline:none;
}

#games {
    position: relative;
    bottom: 10px;
    background-color: #3b3b3b;
    height: 100px;
}

#tools {
    position: relative;
    bottom: 110px;
    background-color: #3b3b3b;
    height: 100px;
}

.header {
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    position: relative;
    left: 35px;
    padding-right: 25px;
}

.buttons_list { 
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    position: relative;
    top:5px;
    left: 50px;
    padding-bottom: 5px;
    text-decoration: none;
}