body {
    font-family: sans-serif;
    background-color: #000;
}

button {
    color: white;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline:none;
    inline-size: 100px;
    block-size: 50px;
}

#games {
  display: block;
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px
}

#glist {
    color: white;
    font-size: 22px;
    visibility: hidden;
    position: relative;
    left: 50px;
    bottom: 40px;
}

#tictactoe {
    font-size: 35px;
    font-family: sans-serif;
    position: relative;
    left: 10px;
}
